Utils/.vs/
Utils/EMS/bin/
Utils/EMS/obj/
Utils/FMS/bin/
Utils/FMS/obj/
Utils/NMS/bin/
Utils/NMS/obj/
Utils/LMS/bin/
Utils/LMS/obj/
Utils/LMS/appsettings.Development.json
Utils/Utils/appsettings.Development.json
Utils/Utils/bin/
Utils/Utils/obj/
docker-compose.override.*
.vs/
Utils/bin/
Utils/obj/
Utils.Tests/bin/
Utils.Tests/obj/
